{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Country</th>
                    <th>Confirmed</th>
                    <th>Deaths</th>
                    <th>Recovered</th>
                    <th>Active</th>
                    <th>New_cases</th>
                    <th>New_deaths</th>
                    <th>New_recovered</th>
                    <th>Deaths_percentage</th>
                    <th>Recovered_percentage</th>


                  </tr>
                  </thead>
                  <tbody>

                  <tr>
                    <td>Trident</td>

                  </tr>



                </table>
              </div>
              <!-- /.card-body -->
            </div>

{% endblock %}